:root {
    /*用:root變成一個函數，自訂名稱為--vol-thumb- */
    --vol-thumb-appearance: none;
    --vol-thumb-width: 40px;
    --vol-thumb-height: 20px;
    --vol-thumb-background-color: rgb(36, 8, 176);
    --vol-thumb-border-radius: 5px;
    --vol-thumb-border: 3px solid white;

    --progress-appearance: none;
    --progress-width: 5px;
    --progress-height: 5px;
    --progress-background-color: rgb(197, 7, 0);
    --progress-border-radius: 50%;
    --progress-transition: 0.5s;
    --progress-hover-width: 15px;
    --progress-hover-height: 15px;
}


.setMute {
    text-decoration: line-through;
}

#controlPanel {
    border: 4px solid blue;
    width: 800px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;

}

#controlPanel span {
    border: 1px solid blueviolet;
    background-color: #6495ED;
    cursor: pointer;
    font-size: 3rem;
    font-family: webdings;
    box-shadow: 3px 3px 7px blue;
    padding: 5px;
}

#volumeControl>input[type="text"] {
    width: 50px;
    text-align: center;
    background-color: rgb(192, 129, 231);
}

#volumeControl>input[type="range"] {
    appearance: none;
    width: 600px;
    height: 10px;
    /* background-color: #8f7ce3; */

    border: 1px solid purple
}


#volumeControl>input[type="range"]::-webkit-slider-thumb {
    appearance: var(--vol-thumb-appearance);
    width: var(--vol-thumb-width);
    height: var(--vol-thumb-height);
    background-color: var(--vol-thumb-background-color);
    border-radius: var(--vol-thumb-radius);
    border: var(--vol-thumb-border);
}

#volumControl>input[type="range"]::-moz-range-thumb {
    appearance: var(--vol-thumb-appearance);
    width: var(--vol-thumb-width);
    height: var(--vol-thumb-height);
    background-color: var(--vol-thumb-background-color);
    border-radius: var(--vol-thumb-radius);
    border: var(--vol-thumb-border);
}




#progressBar {
    appearance: none;
    width: 600px;
    height: 15px;
    background-color: #74c2f0;
    border: 1px solid rgb(225, 171, 225)
}

#progressBar::-webkit-slider-thumb {
    appearance: var(--progress-appearance);
    background-color: var(--progress-background-color);
    width: var(--progress-width);
    height: var(--progress-height);
}

#progressBar::-webkit-slider-thumb:hover {
    width: var(--progress-hover-width);
    height: var(--progress-hover-height);
    border-radius: var(--progress-border-radius);
    transition: var(--progress-transition);
}

#progressBar::-moz-range-thumb {
    appearance: var(--progress-appearance);
    background-color: var(--progress-background-color);
    width: var(--progress-width);
    height: var(--progress-height);
}

#progressBar::-moz-range-thumb:hover {
    width: var(--progress-hover-width);
    height: var(--progress-hover-height);
    border-radius: var(--progress-border-radius);
    transition: var(--progress-transition);
}

#volumeControl>button {
    border-radius: 50%;
    border-width: 5px;
}

#information>div {
    text-align: center;
}


#musicList {
    width: 100%;
    font-size: 16pt;
    text-align: center;
    background-color: #d4b9f4;
    border-radius: 10px;
    padding: 10px;
    border: solid rgb(240, 234, 240)
}
